html, body {
	margin: 0; padding: 0;
}

article, section {
	display: block;
}

#slides {
	width: 1024px; height: 768px;
	margin: 0 auto;
	position: relative;
}

#slides > section {
	background: #ccc;
	border: 20px solid #666;
	height: 728px;
	width: 984px;
	font: bold 4em verdana, 'sans-serif';
}
